:root {
  --timing: 700ms;
}

html {
  color-scheme: dark;
  background-color: gray;
}


img{
  max-width: 100%;
}

.card{
  min-height: 100vh; 
  perspective: 2000px;
  display: grid;
  place-content:center;
}

.pop-out {
  width: 300px;
  aspect-ratio: 9 / 16;
  /* outline: 3px solid gold; */
  position: relative;
  transform-style: : preserve-3d;
  
  transition: rotate var(--timing) ease;
}




.pop-out:hover {
  rotate: x 25deg;
}

.pop-out::after {
  content: "";
  position: absolute;
  inset: 1.5rem;
  translate: 0;
  background: black;
  filter: blur(1rem);
  z-index: 1;
  transition: translate var(--timing);

}

.pop-out:hover::after {
  rotate: x -35deg;
  translate: 0 60px;
}

.bg-image {
  position: absolute;
  z-index: 10;
  height: 100%;
  object-fit: cover;
  background-position: -300px center ;
}

.logo-image,
.front-image {
  position: absolute;
  opacity: 0;
}
